{{ define "main" }}

<div id="about-section-container">
  {{.Content}}
  <div id="chair-information-container">
    <h2>Chairs</h2>
    <div id="chair-boxes-container" style="display: flex;flex-direction: row;">
      {{ range .Site.RegularPages }}
        {{ if eq .Type "chair-boxes" }}
          <div class="chair-box">
            <h3>{{ .Title }}</h3>
            {{ with .Params.featured_image }}<img src="{{ . }}">{{ end }}
            <p>{{ .Content }}</p>
          </div>
        {{ end }}
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
