@import "../utils/global-constants";

.chair-box {
    // display: inline-block;
    justify-content: center;
    border: 3px solid $accent-color-3;
    width: 300px;
    height: 400px;
    margin: 5px;
    padding: 17px;
    align-items: center;
    text-align: center;
    background-color: #efa692;
    h3 {
        font: 20px $header-font-stack;
    }
    font: opensans, sans-serif;
    
}
// .chair-boxes {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     margin: 10px;
// }

.chair-information-container {
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    // margin: 10px;
}
