@import "../utils/global-constants";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content-container {
  flex: 1;
  height: auto !important;
  max-height: 100%;
  margin: auto;
  max-width: $max-content-width;
  padding: 5px;
  width: 96%;
  margin-top: 30px;
  margin-bottom: 40px;
  border-radius: 1%;
}

h1 h2 h3 {
  @include primary-font-style;
}

html, main {
  height: 100%;
}

body {
  @include secondary-font-style;
  height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

