<div class="navbar-container">
  <div id="nav-about-container">
    <a href="/about">
      <h3>About</h3>
    </a>
  </div>
  <div id="nav-projects">
    <a href="/projects">
      <h3>Projects</h3>
    </a>
  </div>
  <div id="nav-meeting-notes">
    <a href="/meeting-notes">
      <h3>Meeting Notes</h3>
    </a>
  </div>
  <div id="nav-new-member-setup">
    <a href="/setup">
      <h3>New Member Setup</h3>
    </a>
  </div>
  <div id="nav-home">
    <a href="/">
      <h3>SIGMusic</h3>
    </a>
  </div>
</div>
