<div class="navbar">
  <div class="navbar-container">
    <div id="nav-grid">
      <div class="navbar-item" id="nav-about-container">
        <a href="/about">
          <h3>About</h3>
        </a>
      </div>
      <div class="navbar-item" id="nav-projects">
        <a href="/projects">
          <h3>Projects</h3>
        </a>
      </div>
      <div class="navbar-item" id="nav-meeting-notes">
        <a href="/meeting-notes">
          <h3>Meeting Notes</h3>
        </a>
      </div>
      <div class="navbar-item" id="nav-new-member-setup">
        <a href="/setup">
          <h3>New Member Setup</h3>
        </a>
      </div>
    </div>
    <div class="nav-logo-container">
      <a href="/">
        <img class="nav-logo" src="/with_headphones_website_wide.png"/>
      </a>
    </div>
  </div>
</div>
